*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    margin-top:20px;
    padding: 10px 25px;
    border: none;
    border: 1px solid #009688;
    border-width: 5px;
    color: #FFC107;
    font-weight: 900;
    border-radius: 5px;
    margin-bottom:20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
}
#input-butn{
    background-color: #FFC107;
    color: #009688;
    border: 1px solid #FF9800;
    border-radius: 5px;
    padding: 15px;
    font-weight: 700;
}
#input-butn:hover{
    cursor: pointer;
    color: #FFC107;
    background-color: #009688;
}
#input-item{
    font-weight: 800; 
    margin: 10px  0px;
    font-size: 25px;
    color: #009688; 
} 
.img{
    height: 220px;
}
.apple-content{
    border: 1px solid white;
    padding: 5px;
    box-shadow: 5px 5px 5px 10px wheat;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
}
.banana-content{
    border: 1px solid white;
    padding: 5px;
    box-shadow: 5px 5px 5px 10px wheat;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
}
.mango-content{
    border: 1px solid white;
    padding: 5px;
    box-shadow: 5px 5px 5px 10px wheat;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
}
.add{
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid black;
    font-weight: bold;
    padding: 2px;
}
.minus{
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid black;
    font-weight: bold;
    padding: 2px;
}
.balance{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}
.balance{
    background-color: #009688;
    color: #FFC107;
    font-weight: bold;
    font-size: 25px;
}

@media screen and (max-width :768px){
    .flex-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}